.home-masonry-grid {
  display: flex;
  width: auto;
}
.home-masonry-grid_column {
  margin: 10px;
}

.home-masonry-grid_column > img {
  /* background: white; */
  /* object-fit: ; */
  width: 200px;
  margin-bottom: 15px;
}
